.box-container {
	border-radius: 18px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 428px;
	background-color: var(--persian-green);
	-webkit-box-shadow: 0px 10px 9px -4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 9px -4px rgba(0, 0, 0, 0.3);
}

.box-container form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.box-container input {
	border: none;
	border-bottom: 2px solid var(--charcoal);
	background-color: var(--persian-green);
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 1.3rem;
}

.box-container .error {
	border-color: var(--red);
}

.box-container input:focus {
	outline-width: 0;
}

.box-container label {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--charcoal);
}

.select-button__container {
	display: flex;
	justify-content: space-between;
}

.select-button__container button {
	border: none;
	border-bottom: 3px solid transparent;
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	background: var(--black);
	/* background: linear-gradient(
		180deg,
		var(--black) 0%,
		rgba(38, 53, 59, 1) 64%,
		rgba(38, 63, 73, 1) 87%,
		rgba(38, 70, 83, 1) 100%
	); */
	color: var(--white);
	cursor: pointer;
	outline-width: 0;
	transition: all 250ms ease-in-out;
}

.select-button__container .active {
	border-bottom: 3px solid var(--orange-yellow-crayola);
}

.select-button__container button:nth-child(1) {
	border-top-left-radius: 18px;
}

.select-button__container button:nth-child(2) {
	border-top-right-radius: 18px;
}

.box-container .main-button {
	background-color: var(--charcoal);
	color: var(--white);
	border: none;
	border-radius: 100px;
	font-size: 1.2rem;
	cursor: pointer;
	padding: 1rem 2rem;
	outline-width: 0;
}
