.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container * {
	margin: 0;
	padding: 0;
	color: var(--white);
}

.container h4 {
	margin-bottom: 1rem;
}

.container:not(:last-child) {
	margin-right: 2rem;
}
